.landingMain
    margin: 2%

    .projects
        height: 100%
        margin-top: 2%

        h2
            font-size: 2.5em
            border-bottom: 1px solid white
            width: 20%
            margin-bottom: 2%

            @media #{$mobile}
                width: 100%

            @media #{$tablet}
                width: 30%


        .projectsDiv
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            align-items: flex-start
            height: 100%
            margin-left: 2%

            @media #{$tablet}
                flex-direction: column
                align-content: center

            .project
                width: 45%
                margin-bottom: 5%

                @media #{$tablet}
                    width: 90%
                    margin-bottom: 15%

                a 
                    text-decoration: none
                    color: green
                    font-size: 1.4em
                    padding: 2%

                h5 
                    display: flex
                    flex-direction: row
                    justify-content: space-evenly

                    .projectLink
                        margin-right: 10%

                h4 
                    font-style: bold    
                    font-size: 1.2em
                    margin: 1%
                    margin-left: 2%
                
                p 
                    margin-left: 2%
                    width: 50%
                    line-height: 1.2

                    @media #{$mobile}
                    margin-top: 3%
                    width: 90%

                .screenshots
                    width: 100%
                    display: flex
                    flex-direction: column
                    align-content: center

                    @media #{$mobile}
                        flex-direction: column
                        justify-content: center
                        align-items: center

                    img 
                        width: 100%
                        height: 100%
                        margin: 2%

        .more
            margin: 10% auto  
            text-align: center

    .stats
        margin-top: 4%

        .statsDiv
            display: flex
            flex-direction: row
            justify-content: center
            align-content: space-between
            height: 100%
            margin-bottom: 2%
            margin-top: 1%

            @media #{$mobile}
                flex-direction: column
                align-content: center


            @media #{$tablet}
                flex-wrap: wrap
        

        .frontEnd
            margin: 10px
            width: 25%

            @media #{$mobile}
                width: 90%

            @media #{$tablet}
                width: 45%

            li 
                margin: 1% 2%

            h3 
                font-size: 1.6em
                margin-bottom: 3%
        
        .backEnd
            margin: 10px
            width: 25%

            @media #{$mobile}
                width: 90%

            @media #{$tablet}
                width: 45%

            li 
                margin: 1% 2%

            h3 
                font-size: 1.6em
                margin-bottom: 3%

        .other
            margin: 10px
            width: 25%

            @media #{$mobile}
                width: 90%

            @media #{$tablet}
                width: 45%
                margin-top: 5%

            li 
                margin: 1% 2%

            h3 
                font-size: 1.6em
                margin-bottom: 3%

        .unique
            margin: 10px
            width: 25%

            @media #{$mobile}
                width: 90%

            @media #{$tablet}
                width: 45%
                margin-top: 5%

            li 
                margin: 1% 2%

            h3 
                font-size: 1.6em
                margin-bottom: 3%
