.hero
    margin: 2% 2% 0 2%
    border: 2px solid white
    border-radius: 7px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 87vh

    h1 
        margin: 10px
        font-size: 5em

    h2 
        margin-top: 5%
        font-size: 4em

.landingMain
    margin: 2%

    .info
        height: 85vh
        margin-top: 2%
        h2
            font-size: 2.5em
            border-bottom: 1px solid white
            width: 20%
            margin-bottom: 2%

        .bio
            display: flex
            flex-direction: row
            justify-content: center
            align-content: space-between
            height: 50%

            .pastDiv
                margin: 10px
                width: 30%

                h3 
                    font-size: 1.6em
                    margin-bottom: 3%
            
            .presentDiv
                margin: 10px
                width: 30%

                h3 
                    font-size: 1.6em
                    margin-bottom: 3%

            .futureDiv
                margin: 10px
                width: 30%

                h3 
                    font-size: 1.6em
                    margin-bottom: 3%

        .statsDiv
            display: flex
            flex-direction: row
            justify-content: center
            align-content: space-between
            height: 50%

            .frontEnd
                margin: 10px
                width: 25%

                li 
                    margin: 1% 2%

                h3 
                    font-size: 1.6em
                    margin-bottom: 3%
            
            .backEnd
                margin: 10px
                width: 25%

                li 
                    margin: 1% 2%

                h3 
                    font-size: 1.6em
                    margin-bottom: 3%

            .other
                margin: 10px
                width: 25%

                li 
                    margin: 1% 2%

                h3 
                    font-size: 1.6em
                    margin-bottom: 3%

            .unique
                margin: 10px
                width: 25%

                li 
                    margin: 1% 2%

                h3 
                    font-size: 1.6em
                    margin-bottom: 3%


    .projects
        height: 95vh
        margin-top: 2%

        h2
            font-size: 2.5em
            border-bottom: 1px solid white
            width: 20%
            margin-bottom: 2%

        .projectsDiv
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-start
            height: 100%
            margin-left: 2%

            .capstone
                width: 100%

                .screenshots
                    width: 100%
                    display: flex
                    flex-direction: row
                    justify-content: space-evenly

                    img 
                        width: 35%
                        margin: 1%


            .project2

            
            .project3