.nav
    height: 3%
    ul
        display: flex
        flex-direction: row
        justify-content: space-evenly
        margin-top: 2%

        li 
            .infoLink  
                &:hover
                    color: orange
                    cursor: pointer
        
            .projectLink
                &:hover
                    color: purple
                    cursor: pointer
            
            .resume
                &:hover
                    color: green

            .github
                &:hover
                    color: orange

            .linkedin
                &:hover
                    color: blue

            .angel
                &:hover
                    color: tan
            
            .light-bulb
                &:hover
                    cursor: pointer
    a 
        text-decoration: none
        color: grey 